<script src="https://giscus.app/client.js"
        data-repo="matthiasbrat/blog"
        data-repo-id="R_kgDONv-M7g"
        data-category="Announcements"
        data-category-id="DIC_kwDONv-M7s4Cmia6"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

<section class="mx-auto mt-12">
    <!-- ... -->
  </section>
  
  <script is:inline>
      function updateGiscusTheme() {
      const theme = localStorage.getItem('theme') || DEFAULT_THEME;
      const iframe = document.querySelector('iframe.giscus-frame')
      if (!iframe) return
      iframe.contentWindow.postMessage({ giscus: { setConfig: { theme } } }, 'https://giscus.app')
    }
  
    window.onload = () => {
      updateGiscusTheme()
    }
  </script>